# core
pygame >=2.0
typing >=3.7
numpy

# testing and development
black
pytest
coverage
pytest-cov
packaging >=3.0
commitizen
redbreast

# documentation
mkdocs
mkdocstrings[python]
mike

# packaging
wheel>=0.37, <0.38
twine>=4.0.1, <5.0
build>=0.8.0, <0.9